.App {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

body .darkMode-on{
  background-color: #2B283A !important;
}

/* NAV styles */
.container {
  flex-direction: column;
}

.nav {
  margin: 0em;
  background-color: rgb(7, 201, 250);
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
}



.nav h1 {
  display: flex;
  align-self: center;
}

.logo {
  width: 3em;
  height: 3em;
  margin: 1em;
  filter:grayscale(100%) contrast(10000%) invert(100%);
}

.toggler {
  display: flex;
  align-self: center;
  margin-right: 10px;
}

.toggler p {
  font-size: 0.625rem;
  font-weight: 600;
}

.toggler--slider {
  width: 25px;
  height: 13px;
  background-color: #2B283A;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-sizing: content-box;
}

.nav.dark .toggler--slider {
  border-color: white;
  background-color: #F5F5F5;
}

.toggler--slider--circle {
  height: 13px;
  width: 13px;
  background-color: white;
  border-radius: 50%;
}

.nav.dark .toggler--slider--circle {
  background-color: black;
}

.toggler--light {
  color: #2B283A;
}

.nav.dark .toggler--slider {
  justify-content: flex-end;
}

/* Featured styles */

.featured {
  display: flex; 
  margin-bottom: .1em;
  box-shadow: 5px 5px 5px rgb(0,0,0,.3);
}

.featured--dark {
  background: #2B283A;
}

.featured-text {
  position:relative;
  margin: 1em 0 1em 1em !important;
  color: rgb(0, 208, 245);
  box-shadow: 10px;
}

.featured-projects {
display: flex;
position: relative;
margin: 1em;
padding: .5em;
justify-content:space-around;
}

.featured-projects-dark {
  display: flex;
  position: relative;
  margin: 1em;
  padding: .5em;
  color: white;
  justify-content: center;
  }

/* CONTENT styles */

.row--dark {
  background: #2B283A;
}
.main--dark {
  background-color:#2B283A;
}
.item {
display: flex;
justify-content: center;
text-align:center;
margin:.25em;
}

.item img{
  border-radius: .75em;
  width: 33vw;
  margin: .5em;
}

.description {
  text-align: left;
  align-self: center;
  background-color: rgb(7, 201, 250);
  border-color: black;
  border-width: 10px;
  border-radius: 3em;
  padding: 2em 0em 2em 2em;
  margin-left: 1em;
  margin-right: 3em;
  color: rgb(253, 253, 253);

}

.description p {
  padding-left: 1em;
}

.floor {
  position: absolute;
  font-weight: bold;
  text-align: center;
  margin-top: 24em !important;
}

.floor--dark {
  color: white;
}

.cnft-name {
  position:absolute;
  text-align: center;
  margin-top: 1em !important;
  color: rgb(0, 208, 245);
  box-shadow: 10px;
}


.card-hover
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 28em;
  background: white;
}

.card-hover-dark {
  background: #2B283A;
}



.cnft-card 
{
  position: relative;
  width: 700px;
  height: 250px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  transition: 0.5s;
  color: rgb(255, 255, 255);
  
}

.cnft-card-dark {
  background-color:#2B283A;
}

.cnft-card .circle
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cnft-card .circle:before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(2, 43, 82);
  clip-path: circle(120px at center);
  transition: 0.5s;
}

.cnft-card .circle:hover:before
{
  background: rgb(7, 201, 250);
  clip-path: circle(400px at center);
  border-radius: 140px;
}

.cnft-card img
{
  max-height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  pointer-events: none;
  transition: 0.5s;
}

.cnft-card:hover img
{
  Left: 72%;
  height: 300px;
  transition: .75s;
}

.cnft-card .cnft-card-content
{
  position: relative;
  width: 50%;
  padding: 3em 1em 1em 3em;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  color: rgb(255, 255, 255);
  font-family: "Varela round";
}

.cnft-card:hover .cnft-card-content
{
  Left: 0;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 600px)
{
  .floor {
    position: relative;
    font-weight: bold;
    text-align: center;
    margin-top: -4em !important;
  }
  
  .floor--dark {
    color: white;
  }
  
  .card-hover
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 28em;
    background: white;
  }
  
  .card-hover-dark {
    background: #2B283A;
  }
  
  .cnft-card .cnft-card-content
  {
    position: relative;
    width: 70%;
    padding: 3em 1em 1em 3em;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    color: rgb(255, 255, 255);
    font-family: "Varela round";
  }
  
  .cnft-card:hover .cnft-card-content
  {
    Left: 0;
    opacity: 1;
    visibility: visible;
  }
  
  
  .cnft-card 
  {
    position: relative;
    width: 450px;
    height: 250px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    transition: 0.5s;
    color: rgb(255, 255, 255);
    
  }
  
  .cnft-card-dark {
    background-color:#2B283A;
  }
  
  .cnft-card .circle:before
  {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(2, 43, 82);
    clip-path: circle(120px at center);
    transition: 0.5s;
  }
  
  .cnft-card .circle:hover:before
  {
    background: rgb(7, 201, 250);
    clip-path: circle(400px at center);
    border-radius: 140px;
  }
  
  .cnft-card:hover img
  {
    Top: -10%;
    Left: 52%;
    transform: scale(50%);
    height: 300px;
    transition: .75s;
  }
  
}

@media (min-width: 1008px) 
{
  .row--dark {
    display: flex;
    flex: 3 0px;
  }
}

.load-more-button {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.load-more {
  width: 40px;
  background: white;
  border: solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  justify-self: center;
  margin: 0;
  padding: 10px;
  position: relative;
}

/* Chart */
.popularity-bar-rounded {
  width: 50px;
  height: 50px;
  background: rgb(241, 218, 2);
  border-radius: 50%;
  margin-left: 375px;
}

.popularity-chart {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  display: flex;
  position: absolute;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 50px;
  background: rgb(241, 218, 2);
}

.popularity-chart p {
margin-top: 20px;
color: white;
text-shadow: 1.5px 2px black;
}

.popularity-bar-shine {
  display: flex;
  position: absolute;
  width: 380px;
  height: 3px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  background: rgb(255, 255, 255);
  margin-top:-40px;
}

.activity-bar-rounded {
  width: 50px;
  height: 50px;
  background: rgb(149, 6, 231);
  border-radius: 50%;
  margin-left: 175px;
}

.activity-chart {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  display: flex;
  position: absolute;
  justify-content: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: rgb(149, 6, 231);
}

.activity-bar-shine {
  display: flex;
  position: absolute;
  width: 190px;
  height: 3px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  background: rgb(255, 255, 255);
  margin-top:-40px;
}

.activity-chart p {
  margin-top: 20px;
  color: white;
  text-shadow: 1.5px 2px black;
  }

.utility-bar-rounded {
  width: 50px;
  height: 50px;
  background: rgb(6, 231, 74);
  border-radius: 50%;
  margin-left: 295px;
}

.utility-chart {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  display: flex;
  position: absolute;
  justify-content: center;
  text-align: center;
  width: 320px;
  height: 50px;
  background: rgb(6, 231, 74);
}

.utility-bar-shine {
  display: flex;
  position: absolute;
  width: 300px;
  height: 3px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  background: rgb(255, 255, 255);
  margin-top:-40px;
}

.utility-chart p {
  margin-top: 20px;
  color: white;
  text-shadow: 1.5px 2px black;
  }

.chart-border {
  display: flex;
  position: absolute;
  width: 500px;
  height: 160px;
  border: black;
  border-width: 5px;
  z-index: -1;
  margin: -5px;
  padding: 1;
  border-style: solid;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  background: transparent;
}
